
.fundo-login {
       
       background-image:  url('/assets/img/fundo-azul-404.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       height: 90vh;
}

.mensagem{
       text-align: center;
       margin-top: 4rem;
       font-size: 3rem;
       line-height: 3rem;
       
}
.text-center{
       text-align: center;
}

