<div class="fundo-login" style="padding-top: 5rem;">

  <div class=" mdl-layout__container ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
        <p class="mensagem mdl-color-text--red-50">Lamentamos mas não encontramos o que busca!</p>
        <p class="text-center mdl-color-text--red-50">Clique na opção abaixo ou use menu lateral para continuar a
          navegar!</p>
        <p class="text-center"><button [routerLink]="['']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i
              class="material-icons">
              reply
            </i> Voltar</button></p>
      </div>
    </div>





  </div>