<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header
    class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img [src]="url" [alt]="nome">
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>{{nome}}</h4>
      <p>Peso Bruto: {{pesoBruto}}</p>
      <p>Peso Liquido: {{pesoLiquido}}</p>
    </div>
    <div class="mdl-card__actions">
      <a href="#"
        class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">
            attach_money
        </i>
        Comprar</a>
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">
          add_shopping_cart
        </i>Carrinho</a>
    </div>
  </div>
</section>