<div class="mdl-layout__content" style="padding-top: 4.5rem;width: 100%;">
   
  <main>
    
    <div class="title-produtos">
      <h2 class="md-32 ">Lista de Produtos</h2>
    </div>
    
    <div class="mdl-grid">
     <!-- <app-inicial *ngFor="let photo of photos | filterByDescription:filter" [url]="photo.url" [description]="photo.description" class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-card mdl-shadow--2dp">
      </app-inicial>-->

      <!--<app-inicial  [url]="photos.imagem64" [description]="photos.valorDefnido.description" class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-card mdl-shadow--2dp">
      </app-inicial>-->

      <app-produto  *ngFor="let produto of produtos"  [url]="" [nome]="produto.Nome" class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-card mdl-shadow--2dp">
      </app-produto>
      
    </div>
  </main>
</div>