<div class="fundo-login" style="padding-top: 4.5rem;">
  <div class="mdl-layout__content mdl-layout ">
    <div id="login-conatiner" class="mdl-card mdl-shadow--16dp">
      <div class="mdl-card__supporting-text">
        <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
          <i id="lock-icon" class="material-icons">lock</i>
        </div>
        <div id="card-heading">
          PWA TOP
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="username" />
          <label class="mdl-textfield__label" for="username">Usuario</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" id="email" />
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="password" />
          <label class="mdl-textfield__label" for="password">Senha</label>
        </div>
        <a [routerLink]="['logar']"  id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
          Entrar
        </a>
      </div>
    </div>
  </div>

</div>